.form-control {
    &.error,
    &.error:focus {
        border-color: #f1556c;
        padding-right: calc(1.5em + .9rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f1556c' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f1556c' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
        background-repeat: no-repeat;
        background-position: center right calc(.375em + .1875rem);
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    }
    &.valid,
    &.valid:focus {
        border-color: #1abc9c;
        padding-right: calc(1.5em + .9rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%231abc9c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center right calc(.375em + .1875rem);
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    }
}

label {
    &.error {
        font-family: Roboto, sans-serif;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6c757d;
        text-align: left;
        margin-left: 20px;
        list-style: none;
        color: #f1556c;
        width: 100%;
        &::before {
            content: "\F159";
            font-family: "Material Design Icons";
            position: absolute;
            margin-left: -20px;
        }
    }
}

.mandatory {
    position: relative;
}

.mandatory::after {
    content: "*";
    color: red;
    padding-left: 2px;
}