@import "../bo_custom_variables";

/**
 * Tapesh media query override
 */

@media (max-width: 768px) {
    .content-page {
        padding: 0 !important;
    }
    #basic-datatable_wrapper #basic-datatable_filter,
    #basic-datatable_length {
        text-align: left !important;
    }
    #basic-datatable_length .custom-select {
        margin-left: 15px !important;
    }
}