@import "../bo_custom_variables";
.navbar-custom {
    .nav-user {
        .user-icon {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: $primary-light-900;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            color: $primary;
            vertical-align: middle;
            box-shadow: inset 0 0 5px $primary;
        }
    }
}

label {
    cursor: pointer;
}