@import "../../bo_custom_variables";
$card-red: #ff0000;
$card-black: #000;
@mixin card-symbol-after {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translateX(-50%);
}

.card-box.ofc-user-hand-data {
    padding: 5%;
    .card-hand-data {
        margin-bottom: 10px;
        .playing-card-wrapper {
            display: flex;
        }
        .playing-card {
            padding: 1.2rem 0.9rem;
            margin-right: 0.4rem;
            margin-bottom: 0.4rem;
            box-shadow: 0px 0px 2px #555;
            position: relative;
            font-size: 14px;
            &::after {
                content: attr(data-card-value);
                position: absolute;
                bottom: 40%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .card--heart,
        .card--diamond {
            color: $card-red;
        }
        .card--club,
        .card--spade {
            color: $card-black;
        }
        .card--heart .card-symbol::after {
            content: '♥';
            @include card-symbol-after;
        }
        .card--diamond .card-symbol::after {
            content: "♦";
            @include card-symbol-after;
        }
        .card--club .card-symbol::after {
            content: "♣";
            @include card-symbol-after;
        }
        .card--spade .card-symbol::after {
            content: '♠';
            @include card-symbol-after;
        }
    }
    .discard-card-container-wrapper {
        padding-bottom: 30px;
        height: 100%;
        text-align: right;
        .discard-card-wrapper {
            display: flex;
            align-items: flex-end;
            height: inherit;
            margin-bottom: 0;
            justify-content: flex-end;
            .playing-card-wrapper {
                flex-wrap: wrap;
                justify-content: flex-end;
                width: calc(4 * 1.1rem);
                .playing-card {
                    margin-right: 0;
                    margin-left: 0.4rem;
                    margin-bottom: 0.4rem;
                }
            }
        }
    }
}

.searchWrap1 {
    column-count: 4;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .searchWrap1 {
        column-count: 3;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .searchWrap1 {
        column-count: 2;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .card-box.ofc-user-hand-data {
        .discard-card-container-wrapper {
            text-align: left;
            .discard-card-wrapper {
                .playing-card-wrapper {
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    width: 100%;
                }
                .playing-card {
                    margin-left: 0;
                    margin-right: 0.4rem;
                }
            }
        }
    }
    .searchWrap1 {
        column-count: 1;
    }
}