@import "custom_variables";
@import "bo/common/theme";
@import "bo/common/formValidation";

.customselect{ float: none; height: auto !important; line-height: 35px; border: 1px solid #ced4da;border-radius: .2rem;}.customselect ul.list{ width: 100% }

    .textwarpcontainer{ max-width: 200px }
    
     .textoverflow{-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;
    text-overflow: ellipsis;display: -webkit-box;width: 100% ;}
    
    .toggle-password {position: absolute; top: 11px; right: 10px;    z-index: 4; cursor: pointer;}
    .multiplecustom .btn-light{ background-color: transparent !important;-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1) !important;box-shadow: 0 1px 4px 0 rgba(0,0,0,.1) !important;  border: 1px solid #ced4da !important;}
    .imgcontainer{ padding: 5px !important }
    div.dataTables_wrapper div.dataTables_length label{ text-transform: capitalize !important; }
    @media (max-width: 768px) {
    .content-page{ padding: 0 !important }
    #basic-datatable_wrapper #basic-datatable_filter,#basic-datatable_length { text-align: left !important }
    #basic-datatable_length .custom-select{ margin-left: 15px !important ; }
    }
    .card .card-body{ padding: 1.5rem 1rem !important }
    
    /* use data load clasess with spiner */  
    .hv_center{ position:absolute;left: 0; right: 0; top: 0; height: 100%; overflow: hidden; z-index: 99  }
    .hv_center div{ position: relative;top: 50%; z-index: 2; }
    .blureffect{ filter: blur(1px); position: static;; 
      -webkit-filter: blur(1px); background-color: rgba(255,255,255,.7)}
    
    
    .dropdown.bootstrap-select .btn-light{ background-color: transparent !important;-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1) !important;box-shadow: 0 1px 4px 0 rgba(0,0,0,.1) !important;  border: 1px solid #ced4da !important;color: #6c757d !important; }
    .dropdown.bootstrap-select.show .dropdown-menu.show{ min-width: 100% !important; transform: translate(0) !important; }
    
    .dropdown.bootstrap-select  .filter-option-inner-inner{  }

    .switches {position: relative; display: inline-block; width: 40px; height: 24px;}
.switches input { opacity: 0; width: 0; height: 0;}
.slider { position: absolute;cursor: pointer; top: 0;  left: 0;  right: 0;  bottom: 0;  background-color: #ccc;  -webkit-transition: .4s;
  transition: .4s;}
.slider:before { position: absolute; content: "";  height: 20px;  width: 20px;  left: 2px;  bottom: 2px;  background-color: white;
  -webkit-transition: .4s;  transition: .4s;}
input:checked + .slider { background-color: rgb(27, 185, 154);;}
input:focus + .slider { box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(15px); -ms-transform: translateX(15px);  transform: translateX(15px);}
.slider.round { border-radius: 34px;}
.slider.round:before { border-radius: 50%;}
/*Toolip*/
.tooltips { position: relative; display: inline-block; }
.tooltips .tooltiptext {visibility: hidden; font-size: 14px; font-weight: 400;font-family: Roboto,sans-serif;  opacity: 0;  transition:all .3s ease;   width: auto;  background-color: black;   color: #fff;
  text-align: center; white-space: nowrap;  border-radius: 6px;  padding: 7px 10px; 
  position: absolute; -webkit-box-shadow:0 2px 6px -2px rgba(0,0,0,.16),0 2px 6px 0 rgba(0,0,0,.12);box-shadow:0 2px 6px -2px rgba(0,0,0,.16),0 2px 6px 0 rgba(0,0,0,.12);  z-index: 1;  bottom: 80%;  left: 50%; transform: translateX(-50%);  }
.tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid;
    border-color: black transparent transparent    transparent;}
.tooltips:hover .tooltiptext {visibility: visible; opacity: 1;bottom: 150%;}
