//
// datatable.scss
//
.dataTables_wrapper.container-fluid {
    padding: 0;
}

table.dataTable {
    border-collapse: collapse !important;
    margin-bottom: 15px !important;
    width: 100% !important;
    thead {
        >tr {
            >th.sorting_asc,
            >th.sorting_desc,
            >th.sorting,
            >td.sorting_asc,
            >td.sorting_desc,
            >td.sorting {
                padding-right: 18px;
            }
        }
        .sorting,
        .sorting_asc,
        .sorting_desc,
        .sorting_asc_disabled,
        .sorting_desc_disabled {
            &::before {
                right: 5px;
            }
        }
        .sorting,
        .sorting_asc,
        .sorting_desc,
        .sorting_asc_disabled,
        .sorting_desc_disabled {
            &::after {
                right: 0;
            }
        }
    }
    tbody {
        // Multi select table
        >tr.selected,
        >tr>.selected {
            background-color: $primary;
            box-shadow: $shadow-lg;
            td {
                border-color: $primary;
            }
        }
        td {
            &:focus {
                outline: none !important;
            }
        }
        // Key Tables
        th.focus,
        td.focus {
            outline: 2px solid $primary !important;
            outline-offset: -1px;
            color: $primary;
            background-color: rgba($primary, 0.15);
        }
    }
    &.nowrap {
        th,
        td {
            white-space: nowrap;
            &.ellipsisWrapper {
                max-width: 200px;
                white-space: normal;
                >.ellipsis {
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    width: 100%;
                }
            }
        }
        td {
            white-space: normal;
            word-break: break-all;
        }
    }
}

.dataTables_info {
    font-weight: $font-weight-semibold;
}

// Responsive data table
table.dataTable.dtr-inline.collapsed {
    >tbody {
        >tr[role=row] {
            >td,
            >th {
                &:first-child {
                    &:before {
                        box-shadow: $shadow-lg;
                        background-color: $success;
                        top: $table-cell-padding;
                    }
                }
            }
        }
        >tr.parent {
            >td,
            >th {
                &:first-child {
                    &:before {
                        background-color: $danger;
                        top: $table-cell-padding;
                    }
                }
            }
        }
        >tr.child {
            >td.child {
                white-space: normal;
                .dtr-data {
                    word-break: break-word;
                    >.ellipsis {
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// Data Table copy button
div.dt-button-info {
    background-color: $primary;
    border: none;
    color: $white;
    box-shadow: none;
    border-radius: 3px;
    text-align: center;
    z-index: 21;
    h2 {
        border-bottom: none;
        background-color: rgba($white, 0.2);
        color: $white;
    }
}

@include media-breakpoint-down(sm) {
    li.paginate_button.previous,
    li.paginate_button.next {
        display: inline-block;
        font-size: 1.5rem;
    }
    li.paginate_button {
        display: none;
    }
    .dataTables_paginate {
        ul {
            text-align: center;
            display: block;
            margin: $spacer 0 0 !important;
        }
    }
    div.dt-buttons {
        display: inline-table;
        margin-bottom: $spacer;
    }
}

.activate-select {
    .sorting_1 {
        background-color: $gray-100;
    }
}