.wizardStyle .nav.nav-pills li {
    border-right: 1px #fff solid;
}

.wizardStyle .nav.nav-pills li+li {
    border-left: 1px #eee solid;
}

.wizardStyle .nav.nav-pills li a {
    padding: 0.75rem;
}

.boxshowhide {
    display: none;
}

.tab-pane {
    min-height: 180px;
}

#templatesList {
    max-height: 200px;
    overflow-y: auto;
}

#tournamentPrizeInfoModal {
    padding-right: 0 !important;
    .modal-dialog {
        margin: 29px auto 0;
        max-width: calc(100% - 30px) !important;
        .modal-content {
            .card {
                .card-body {
                    padding: 0 !important;
                    min-height: 3rem;
                    .default-prize-structure {
                        padding: 0 5px;
                        overflow-y: auto;
                        max-height: calc(100vh - 120px);
                    }
                }
            }
        }
    }
}

.spinner-border {
    top: calc(50% - 1rem) !important;
}