@import "../../bo_custom_variables";
$purple: #263275;
$white: #ffffff;
$gray-600: #98a6ad;
$primary: $purple;
.permission-list {
    .permission-label {
        position: relative;
        margin: 0;
        width: 18px;
        height: 18px;
        cursor: pointer;
        input {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            &::before {
                content: '';
                top: 0;
                position: absolute;
                width: 18px;
                height: 18px;
                -o-transition: .3s ease-in-out;
                -webkit-transition: .3s ease-in-out;
                background-color: $white;
                border-radius: 3px;
                border: 2px solid $gray-600;
                transition: .3s ease-in-out;
                outline: 0!important;
            }
            &:checked::before {
                content: '';
                background-color: $primary;
                border-color: $primary;
            }
            &:checked::after {
                content: '';
                position: absolute;
                top: 4px;
                left: 7px;
                display: table;
                width: 4px;
                height: 8px;
                border: 2px solid $white;
                border-top-width: 0;
                border-left-width: 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}