// 
// tables.scss
//
//Table centered (Custom)
.table-centered {
    td,
    th {
        vertical-align: middle !important;
    }
}

// Custom table components (Custom)
.table {
    td,
    th {
        padding: 10px 5px;
        font-size: 0.8125rem;
        line-height: 1.2;
    }
    .table-user {
        img {
            height: 30px;
            width: 30px;
        }
    }
}

.action-icon {
    color: $gray-600;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0 3px;
    &:hover {
        color: $gray-700;
    }
}